<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=Edge">
    <meta name=viewport content="width=device-width,initial-scale=1,user-scalable=no">
    <meta name=theme-color content=#113775>
    <meta name=msapplication-navbutton-color content=#113775>
    <meta name=apple-mobile-web-app-status-bar-style content=#113775>
    <meta name=description content="">
    <meta name=keywords content="LineUp, Crypto, 온리전, 플리마켓">
    <meta name=image content="{{ metainfo.image }}">

    <meta name=twitter:card content=summary>
    <meta name=twitter:site_name content="LineUp - Cash for crypto">
    <meta name=twitter:url content="{{ metainfo.title }}">
    <meta name=twitter:title content="{{ metainfo.title }}">
    <meta name=twitter:image content="{{ metainfo.image }}">
    <meta name=twitter:image:width content="{{ metainfo.width }}">
    <meta name=twitter:image:height content="{{ metainfo.height }}">
    <meta name=twitter:description content="{{ metainfo.description }}">
    <meta name=twitter:locale content=ko_kr>
    <meta name=twitter:type content=website>

    <meta property=og:site_name content="LineUp - Cash for crypto">
    <meta property=og:url content="{{ metainfo.title }}">
    <meta property=og:title content="{{ metainfo.title }}">
    <meta property=og:image content="{{ metainfo.image }}">
    <meta property=og:image:width content="{{ metainfo.width }}">
    <meta property=og:image:height content="{{ metainfo.height }}">
    <meta property=og:description content="{{ metainfo.description }}">
    <meta property=og:locale content=ko_kr>
    <meta property=og:type content=website>

    <title>LineUp</title>
    <link rel="shortcut icon" href=/static/favicon.ico>
    <link rel=stylesheet href=https://use.fontawesome.com/releases/v5.2.0/css/all.css integrity=sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ crossorigin=anonymous>
    <style>@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);</style>
    <link href=/static/css/{{ css_files.app.filename }} rel=stylesheet>
</head>
<body>
<div id=app></div>
<script type=text/javascript src=/static/js/{{ js_files.manifest.filename }}></script>
<script type=text/javascript src=/static/js/{{ js_files.vendor.filename }}></script>
<script type=text/javascript src=/static/js/{{ js_files.app.filename }}></script>
</body>
</html>
